body {
	margin: 0;
	padding: 0;
}

.item {
	border: 1px solid;
}

.item-a {
	background: pink;
  grid-area: header;
}
.item-b {
	background: green;
  grid-area: main;
}
.item-c {
	background: blue;
  grid-area: sidebar;
}
.item-d {
	background: purple;
  grid-area: footer;
}

.container {
	background: grey;
	width: 100%;
	height: 100vh;
  display: grid;
  grid-template-areas: 
    "header header header header header"
    "main main . sidebar ."
    "footer footer footer footer .";
}
