@import 'reset.css'; 
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');

:root {
	--marg: 16px;
}

html {
	  scroll-behavior: smooth;
} 


body {
	font-family: sans-serif;
	font-size: 1.4vw;
	line-height: 1.2em;
	font-family: 'Heebo', sans-serif;
}

body.slider {
	background: black;
	color: white;
}

a {
	color: black
}

a:hover {
	color: pink;
}

nav {
	display: flex;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: var(--marg);
	border-top: solid 1px;
	background: white;
	text-transform: uppercase;
}
nav > * {
	margin-right: var(--marg);
}

body.main main {
	padding-bottom: 55px;
}

article {
	padding: var(--marg);
	max-width: 700px;
} 

h1 {
	text-transform: uppercase;
	text-decoration: underline;
}

p, ul, h2, h3 {
	margin-top: calc(var(--marg)*2);
}

h3 {
	border-left: 1px solid;
	border-top: 1px solid;
	padding-left: var(--marg);
}

body.main nav ul {
	margin-top: 0px !important;
}

body.main img {
	width: 100%;
}

body.slider figure {
	height: 80vh;
	position: fixed;
	display: none;
}

body.slider figure.active {
	display: block;

}

body.slider nav {
	display: none;
}

body.slider nav ul {
	display: none;
}

figure img {
	height: 100%;
}

figure figcaption {
	max-width: 800px;
}

#prev, #next {
	line-height: 100%;
	height: 100vh;
	position: fixed;
	width: 50%;
	padding: 0 var(--marg);
	top: 0px;
	cursor: pointer;
	z-index: 2;
}

#prev {
	left: 0px;
}
#next {
	right: 0px;
}

iframe {
	width: 95vw;
	height: 500px;
}

pre {
	margin-top: var(--marg);
	padding: var(--marg);
	background: #F7F7F7;
}
code {
	font-family: monospace;
	font-size: 1.2vw;
	color: darkblue;
}


