@import 'reset.css'; 
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

:root {
	--marg: 16px;
}

html {
	  scroll-behavior: smooth;
} 


body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 18px;
	line-height: 1.2em;
	color: white;
	color: black;
}

body.slider {
	background: black;
	color: white;
}

a {
	color: black
}

a:hover {
	color: pink;
}


h2 {
	font-weight: 1000;
}

nav {
	display: flex;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 1em;
	padding: var(--marg);
	background: white;
	text-transform: uppercase;
}
nav > * {
	margin-right: var(--marg);
}

body.main main {
	padding-bottom: 55px;
}

article {
	padding: var(--marg);
	max-width: 700px;
} 

h1 {
	text-transform: uppercase;
	line-height: 1.2em;
	/* text-decoration: underline; */
	/* font-weight: normal; */
}

h2 {
	margin-top: calc(var(--marg)*2);
	text-transform: uppercase
}
p, ul, ol, h3 {
	margin-top: calc(var(--marg)*1);
}



h3 {
	/* padding-left: var(--marg); */
	/* font-weight: normal */
}

h2:before {
	content: '✹ ';
}
h3:before {
	content: '✶ ';
	/* font-size: .8em; */
}
body.slider main {
	margin-top: 0em;
}

body.main nav ul {
	margin-top: 0px !important;
}

body.main img {
	width: 100%;
}

body.slider .slide {
	height: 80vh;
	position: fixed;
	display: none;
}

body.slider .slide.active {
	display: block;

}
body.slider h1 {
	margin: 1em;	
	line-height: 1.2em;
}

body.slider nav {
	display: none;
}

body.slider nav ul {
	display: none;
}

body.slider .text {
	margin: 1.4em;
	font-size: 1.6em;
	max-width: 800px;
	line-height: 1.2em;
}

figure {
	height: 100%;
}

figure img {
	height: 100%;
}

figure figcaption {
	max-width: 800px;
}

#prev, #next {
	line-height: 100%;
	height: 100vh;
	position: fixed;
	width: 10%;
	padding: 0 var(--marg);
	top: 0px;
	cursor: pointer;
	z-index: 2;
}

#prev:hover, #next:hover {
	background: grey;
	opacity: .3;
}

#prev {
	left: 0px;
}
#next {
	right: 0px;
}

iframe {
	width: 95vw;
	height: 500px;
}

pre {
	margin-top: var(--marg);
	padding: var(--marg);
	background: #F7F7F7;
}

code {
	font-family: monospace;
	font-size: 1.2vw;
	color: darkblue;
}

main {
	margin-top: 3em;
}

ol {
	list-style: symbols;
	margin-left: 2em;
}

ul li  {
	list-style: outside;
	/* list-style-type: space-counter; */
	margin-left: 2em;
	margin-top: 0;

}


	main h1 {
		font-size: 2em;
	}

	.home-intro {
		font-size: 1.4em;
		line-height: 1em;
		margin-top: 1em;
	}

	.secret {
		display: none;
	}

@media only screen and (max-width: 1000px) {
	article {
		width: 100%;
	}
}

@media print {
	.secret {
		display: block;
	}

	nav > ul {
		display: none;
	}
	nav {
		position: relative;
		border-bottom: 1px solid;
	}
}
