<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ config.site_name }}</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body class="{% block type_page%}{% endblock%}" >
	<nav>
		<h1>{{ config.site_name }}</h1>
		<ul>
			{% for article in nav %}
			<a href="#{{article.meta.slug}}">{{ article.title }}</a>
			{% endfor %}
		</ul>
	</nav>
	{% block content %}{% endblock %}
		
</body>
</html>
