{% extends 'base.html' %}
{% block type_page %}main{% endblock %}
{% block content %}
<main>
	{% for article in nav %}
	<article id="{{article.meta.slug}}">
			<h1>
				-> {{ article.title }}
			</h1>
			<div class="content">
				{{ article.content }}
			</div>
		</article>
	{% endfor %}
</main>
{% endblock %}
