{% extends 'base.html' %}
{% block type_page %}slider{% endblock %}
{% block content %}
	<main class="slides">
		<div id="prev"> </div>
			{% for slide in page.meta.slides %}
			<div class="slide" data-inc="{{loop.index - 1}}">
				{% if slide.title %}<h1>{{ slide.title }}</h1>{%endif%}
			{% if slide.url %}
				<figure>
					<img src="{{ slide.url }}" alt="">
					<figcaption>{{ slide.caption }}</figcaption>
				</figure>
			{% elif slide.iframe %}
				<div class="slide" data-inc="{{loop.index - 1}}" >
					{{ slide.iframe }}
				</div>
			{% elif slide.text %}
				<div class="text">
					{{slide.text}}
				</div>
			{% endif %}
			</div>
			{% endfor %}
			<div id="next"> </div>
	</main>

<script>
var slides = document.querySelectorAll('.slide')
var prev = document.getElementById('prev')
var next = document.getElementById('next')

if (window.location.hash) {
	var n = window.location.hash.replace('#', '')
	slides[parseInt(n)].classList.add('active')
}else {

	slides[0].classList.add('active')
} 


function slide_next(){
	var active = document.getElementsByClassName('active')[0]
	var inc = parseInt(active.getAttribute('data-inc'))
	active.classList.remove('active')
	if (inc > (slides.length -2))  {
		slides[0].classList.add('active')
		window.location.hash = 0 
	}else {
		slides[inc + 1].classList.add('active')
		window.location.hash = inc + 1
	}
}

function slide_prev(){
	var active = document.getElementsByClassName('active')[0]
	var inc = parseInt(active.getAttribute('data-inc'))
	active.classList.remove('active')
	if (inc < 1)  {
		slides[slides.length - 1].classList.add('active')
		window.location.hash = slide.length - 1 
	}else {
		slides[inc - 1].classList.add('active')
		window.location.hash = inc - 1
	}
}

prev.addEventListener('click', function(){
	slide_prev()
})

next.addEventListener('click', function(){
	slide_next()
})

</script>
{% endblock %}
